<div class="login-container" *ngIf="!isLoggedIn">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex align-items-center">
    <button type="submit" class="btn btn-primary me-2">Login</button>
    <div class="form-group me-2">
      <input type="text" class="form-control" formControlName="username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
  </form>
</div>
<div class="logged-in-container" *ngIf="isLoggedIn">
  <span class="badge bg-success">Logado</span>
  <button class="btn btn-link" (click)="onLogout()">Logout</button>
</div>
